API_BASE_URL=https://daway-backend-zlh2.onrender.com/api
CLOUDINARY_CLOUD_NAME=dmvzcwm3g
CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset
CLOUDINARY_DEFAULT_AVATAR_URL=https://res.cloudinary.com/dmvzcwm3g/image/upload/v1786949590/images.jpg
